
.sticky-button.jp-Button.minimal .jp-Icon {
  color: orange;
}

.sticky-container {
  position: absolute;
  right: 0px;
  width: 300px;
  height: 300px;
  opacity: 0.5;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;

  border: 1px solid var(--md-grey-400);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.hidden {
  visibility: hidden;
}

.sticky-tab {
  height: 24px;
  width: 100%;
  display: flex;
  background-color: var(--md-grey-600);
}

.sticky-content {
  flex-grow: 1;
  width: 100%;
  background-color: var(--md-grey-100);

  display: flex;
  justify-content: center;
  align-items: stretch;
}

.dropzone {
  font-size: 1.5em;
  font-weight: 400;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  margin: 10px;
  border: 3px dashed var(--md-grey-400);
  border-radius: 3px;
  transition: border 300ms ease-in-out;
  flex-grow: 1;
}

.dropzone.drag-over {
  border: 3px dashed var(--md-blue-800);
}

.dropzone .dropzone-label {
  text-align: center;
  margin: 10px;
  color: var(--md-grey-800)
}
