.floating-window {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  position: absolute;
  z-index: 6;

  border-radius: 5px;
  overflow: hidden;
  box-shadow: -1px 1px 3px hsla(0, 0%, 0%, 0.2), -1px 1px 20px hsla(0, 0%, 0%, 0.25);
  background-color: white;

  min-width: 270px;
  min-height: 140px;
  resize: both;
}

.floating-window .floating-header {
  height: 24px;
  width: 100%;
  cursor: move;
  background-color: var(--jp-layout-color4);
  color: var(--md-grey-200);
  border: 1px solid var(--jp-layout-color4);

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.floating-window .button-group {
  position: absolute;
  right: 6px;
  height: 100%;

  display: flex;
  flex-direction: row;
}

.floating-window .button-group svg {
  fill: var(--md-grey-500);
  color: var(--md-grey-500);
  display: block;
  height: 18px;
  width: 18px;
  margin: 0 auto;
}

.floating-window .header-button {
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 2px;
}

.floating-window .header-button:hover svg {
  fill: var(--md-grey-200);
  color: var(--md-grey-200);
}

.floating-window .header-button:active svg {
  fill: var(--md-grey-50);
  color: var(--md-grey-50);
}