.sticky-md {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sticky-md-cell {
  overflow-y: auto;
  overflow-wrap: break-word;
  padding-bottom: 0px;
}

.sticky-md-output {
  padding: 0 8px;
}

.sticky-md .jp-CodeMirrorEditor.jp-mod-focused {
  border: var(--jp-border-width) solid var(--jp-cell-editor-active-border-color);
  box-shadow: var(--jp-input-box-shadow);
  background-color: var(--jp-cell-editor-active-background);
}

/* Need to set the CodeMirror's height to 100% otherwise it uses the whole
Notebook's height to determine when to scroll! Need to cascade down the 100%
height. CodeMirror is such a lifesaver but so hard to debug!!
*/
.sticky-md-cell .jp-Cell-inputWrapper {
  height: 100%;
}

.sticky-md-cell .jp-InputArea {
  height: 100%;
}

.sticky-md-cell .jp-CodeMirrorEditor {
  height: 100%;
}

.sticky-md-cell .CodeMirror {
  height: 100%;
}
