.sticky-toolbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0;
}

.sticky-toolbar .jp-Toolbar > .jp-Toolbar-item {
  flex: 0 0 auto;
  display: flex;
  padding: 0;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.sticky-toolbar svg {
  display: block;
  height: 16px;
  margin: 0 auto;
  width: 16px;
}